<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsesoriasFIC">
        <activity
            android:name=".InformacionAsesoriaActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.FiltrosAsesoriasEnCursoActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.crearAsesoresDisiplinares"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.AsesoriasEnCursoActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.estudiantesActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.asesoresDisciplinaresActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.asesoresParActivity"
            android:exported="false" />
        <activity
            android:name=".acyivity_asesores_diciplinares"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.ListaAsesoresActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.reportesActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.solicitudesPendientesActivity"
            android:exported="false" />
        <activity
            android:name=".asesoriasCursoActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".login.loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>