<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsesoriasFIC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".rol_estudiante.EstudianteInformacionHistorialAsesoriasActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.EstudianteEditarSolicitudEnRevisionActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.EstudianteInformacionSolicitudEnRevisionActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.EstudianteFiltroHistorialAsesoriasActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.EstudianteChatActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.EstudianteMaterialAdicionalActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.EstudiantesInformacionSolicitarAsesoriasActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.estudiante_filtros_solicitar_asesorias"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.estudiante_solicitar_nueva_asesoria"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.MaterialAdicional"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.InformacionEstudiantesActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.InformacionAsesoresParActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.InformacionAsesoriaActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.FiltrosAsesoriasEnCursoActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.crearAsesoresDisciplinares"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.AsesoriasEnCursoAdminActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.estudiantesActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.asesoresDisciplinaresActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.asesoresParActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.CrearEstudiantes"
            android:exported="false" />
        <activity
            android:name=".acyivity_asesores_diciplinares"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.ListaAsesoresActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.reportesActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.solicitudesPendientesActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.InformacionAsesoresDisciplinarActivity"
            android:exported="false" />
        <activity
            android:name=".asesoriasCursoActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".rol_administrador.crearAsesoresPar"
            android:exported="false" />
        <activity
            android:name=".login.loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rol_asesor.inicioAsesorActivity"
            android:exported="false" />
        <activity
            android:name=".rol_asesor.asesoriasCursoActivity"
            android:exported="false" />
        <activity
            android:name=".rol_asesor.historialAsesoriasActivity"
            android:exported="false" />
        <activity
            android:name=".rol_asesor.perfilAsesorActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.inicioEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.asesoriasCursoEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.historialAsesoriasEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.perfilEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".rol_estudiante.solicitudesRevisionActivity"
            android:exported="false" />
    </application>

</manifest>